<div align="center">
  <br /><br />
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="dataForm.nombre" #nombre="ngModel" name="nombre" id="nombre" placeholder="nombre"><br /><br />
    <input type="text" [(ngModel)]="dataForm.apellido" #apellido="ngModel" name="apellido" id="apellido" placeholder="apellido"><br /><br />
    <input type="text" [(ngModel)]="dataForm.email" #email="ngModel" name="email" id="email" placeholder="email"><br /><br />
    <input type="password" [(ngModel)]="dataForm.password" #password="ngModel" name="password" id="password" placeholder="password"><br /><br />
    <button>Registrar</button>
  </form>
</div>



